html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: url("../images/nine-tailed-fox.webp");
    background-size: cover;
    background-position-y: bottom;
    flex-wrap: wrap;
}

h1 {
    color: #000000;
}

.card {
    opacity: 0.8;
}
.card:hover {
    opacity: 1;
}

.cursorPointer:hover {
    cursor: pointer;
}
